/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #526066;
  min-height: 100vh;
  padding-bottom: 2em;
  position: relative;
}

h1 {
  margin: 0.27em 0;
}

h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}

/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/*
 * -- BANNER --
 */

.banner {
  background: transparent
    url("https://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg")
    0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
  height: 200px;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

.color-level {
  width: 300px;
  height: 5px;
  margin: 0.5em auto 0;
  transition: background-color 1000ms linear;
}

.weather {
  color: white;
  font-size: 1.5em;
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
.pricing-tables,
.information {
  max-width: 980px;
  margin: 0 auto;
}
.pricing-tables {
  margin-bottom: 2em;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.pricing-table {
  border: 1px solid #ddd;
  margin: 0 0.5em 2em;
  padding: 0;
}

.pricing-table-header {
  background: #111;
  color: #fff;
  transition: background-color 1000ms linear;
  transition: color 1000ms linear;
}

.pricing-table-header h2 {
  margin: 0;
  padding-top: 2em;
  font-size: 1em;
  font-weight: normal;
}

.pricing-table-price {
  font-size: 6em;
  margin: 0.2em 0 0;
  font-weight: 100;
}

.pricing-table-price .key {
  display: block;
  font-size: 0.2em;
  padding-bottom: 2em;
  font-weight: 400;
}

.footer {
  background: #111;
  color: #888;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #ddd;
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }
  .pricing-table {
    margin-bottom: 0;
  }
}

/*
 * -- PHONE MEDIA QUERIES --
 */
@media (min-width: 480px) {
  .banner {
    height: 260px;
  }
  .banner-head {
    font-size: 3em;
  }
}
